@model Zoomer.Models.Car
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>
@*@if (!Model.)
{
    <p>No Cars presently.</p>
}
<ul>
    @foreach (var customer in Model.C)
    {
        <li>@customer.Name</li>
    }
</ul>*@

