@model IEnumerable<Zoomer.Models.Car>
@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>
@Html.ActionLink("Add New Car", "New", "Cars", new { @class="btn btn-primary"})
<br /><br />
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Cars</th>
            <th>Body Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
            {
                <tr>
                    <td>@Html.ActionLink(car.Make + " " + car.Model, "Details", "Cars", new { id = car.Id }, null)</td>
                    <td>@car.BodyStyle.BodyType</td>
                </tr>
            }
    </tbody>
</table>
